'.source.js.jsx':
  'react-component':
    'prefix': 'rc'
    'body': """
import React from 'react';
import PropTypes from 'prop-types';
import cx from 'classnames';
import jss from 'react-jss';
import styles from './$1.styles';

function $1({ classes, className, ...others }) {
  return (
    <div className={cx(classes.wrapper, className)} {...others}>
      Component
    </div>
  );
}

$1.propTypes = {
  classes: PropTypes.object.isRequired,
  className: PropTypes.string,
};

$1.defaultProps = {
  className: null,
};

export default jss(styles)($1);

    """
  'storybook-story':
    'prefix': 'story'
    'body': """
import React from 'react';
import { storiesOf } from '@storybook/react';
import centered from '@storybook/addon-centered/react';
import $1 from './$1';

storiesOf('$1', module)
.addDecorator(centered)
.add('Default', () => (
  <div style={{ width: 450 }}>
    <$1 />
  </div>
));

    """
